*{
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: visible;

    scroll-behavior: smooth;

    text-decoration: none;
    color: #3431A9;
}

.App{
    width: fit-content;
    height: 100vh;

    background-color: #F5F4F4;


}
