
*{
    text-decoration: none;
    color: #3431A9;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

    overflow-y: hidden;
}




#root{
    display: inline-block;
    overflow-y: hidden;
    height: 100vh;

    margin: 0px;
    padding: 0px;
}

