@font-face {
    font-family: "Karrik";
    src: url("../assets/fonts/Web/WOFF/Karrik-Regular.woff") format("woff"),
         url("../assets/fonts/Web/WOFF2/Karrik-Regular.woff2") format("woff2"),
         url("../assets/fonts/Web/TFF/Karrik-Regular.ttf") format("truetype"),
    }

@font-face {
    font-family: "Monde";
    src: url("../assets/fonts/LeMondeLivre-Normal.otf") format("opentype"),
    }

    .revue{
        /* min-width: 2000px; */
        width: 100%;
        min-width: fit-content;
        height: 100%;
        min-height:100vh;
        background-color: #F5F4F4;

        overflow: hidden;
        display: inline-block;
    }

    .revue-container{

      
        min-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-left: 48px;
        overflow-y: hidden;
        overflow-x: visible;
        background-color: aquamarine;

    }

    .revue-main-content{
        min-height: 100%;
        height: 100%;
        /* width: 236px; */
        width: 100%;
        max-width: 236px;


        padding: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: red;

        
    }

    .revue-main-content-container{
        background-color: blue;
        padding: 5px;
    }

    .revue-title-container{
        background-color: aqua;
        padding: 5px;
    }
    .revue-title{

        color: #3431A9;

        font-family: Karrik;
        font-size: 36px;

        padding: 0px 0px 30px 0px;
     
    }

    .revue-text-container{
        padding: 5px;
        background-color: chartreuse    ;
    }

    .revue-text{

        color: #3431A9;

        font-family: Monde;
        font-size: 0.9rem;

        text-align: justify;
   
    }

    .arrow-container{

        margin: 0px 10px 0px 10px;

        position: relative;

        top: 300px;
        left:-100px;

        width: fit-content;
        height: fit-content;

        display: none;
    }

    .right-arrow{

        height: 90px;
        width: 170px; 
    }

    .mystere-revues{

        width: 672px;
        max-width: 672px;
        min-height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
     
        overflow: hidden;

        background-color: chartreuse;

        padding: 10px;
 
    }

    .mystere-revues-container{
        background-color: cornflowerblue;
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .mystere-2-container {
        background-color: yellow;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 10px;
    }

    
    .mystere-2-title-container {
        padding: 5px;
        background-color: chocolate;
    }

    .mystere-2-title {
        text-align: center;
        font-family: Karrik;
        color: #3431A9;
        font-size: 1.1rem;
    }

    .mystere-2-cover{
        padding: 5px;
        background-color: red;
    }

    .mystere-2-img {
        height: 320px;
    }

    .mystere-1-container{

        background-color: red;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 10px;
    }

    .mystere-1-title-container {
        padding: 5px;
        background-color: darkgray;
    }

    .mystere-1-title {
        font-family: Karrik;
        color: #3431A9;
        font-size: 20px;
    }

    .mystere-1-cover{
        padding: 5px;
        background-color: black;
    }

    .mystere-1-img{
     height: 300px;
    }

 