@font-face {
font-family: "Karrik";
src: url("../assets/fonts/Web/WOFF/Karrik-Regular.woff") format("woff"),
     url("../assets/fonts/Web/WOFF2/Karrik-Regular.woff2") format("woff2"),
     url("../assets/fonts/Web/TFF/Karrik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Prata";
    src: url("../assets/fonts/Prata/Prata-Regular.ttf") format("truetype");   
}

/*Mobile & Tablet*/
@media only screen and (max-width: 820px) and (min-width: 320px)  {
.revue{
    min-width: 1000px;
    height: 100%;
    min-height:100%;
    background-color: #F5F4F4;
    overflow: hidden;
    display: inline-block;
}

.revue-container{
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 48px;
    overflow-y: hidden;
    overflow-x: visible;
}

.revue-main-content{
    min-height: 100%;
    height: 100%;
    width: 256px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 10px 10px 10px;
}


.revue-title-container{
    padding: 5px;
}
.revue-title{
    color: #3431A9;
    font-family: Karrik;
    font-size: 2rem;
}

.revue-text-container{
    padding: 5px;
}

.revue-text{
    color: #3431A9;
    font-family: Prata;
    font-size: 0.8rem;
    text-align: justify;

}

.arrow-container{
    margin: 0px 10px 0px 10px;
    position: absolute;
    top: 450px;
    left: 170px;
    
    width: fit-content;
    height: fit-content;
}

.right-arrow{
    width: 100;
    height: 100;
}

.mystere-revues{
    width: 672px;
    max-width: 672px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
 
    overflow: hidden;
    padding: 54px 10px 10px 10px;
}

.mystere-revues-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.mystere-2-container {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 30px 10px 10px;
}

    
.mystere-2-title-container {
    display: flex;
    padding: 5px;
}

.mystere-2-title {
    font-family: Karrik;
    color: #3431A9;
    font-size: 1.05rem;
}

.mystere-2-cover{
    padding: 5px;
}

.mystere-2-img {
    height: 360px;
}

.mystere-1-container{
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 10px 10px 30px;
}

.mystere-1-title-container {
    width: fit-content;
    display: flex;
    padding: 5px;
}

.mystere-1-title {
    text-align: left;
    font-family: Karrik;
    color: #3431A9;
    font-size: 1.05rem;
}

.mystere-1-cover{
    padding: 5px;
}

.mystere-1-img{
 height: 360px;
}
}


/*DESKTOP*/
@media only screen and (min-width: 821px)  {
  
.revue{
    min-width: 1000px;
    height: 100%;
    min-height:100%;
    background-color: #F5F4F4;
    overflow: hidden;
    display: inline-block;
}

.revue-container{
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 48px;
    overflow-y: hidden;
    overflow-x: visible;
    /* background-color: purple; */
}



.revue-main-content{
    min-height: 100%;
    height: 100%;
    width: 256px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 10px 10px 10px;
    
}



.revue-title-container{
    padding: 5px;
}

.revue-title{
    color: #3431A9;
    font-family: Karrik;
    font-size: 2rem;
}

.revue-text-container{
    padding: 5px;
}

.revue-text{
    color: #3431A9;
    font-family: Prata;
    font-size: 0.9rem;
    text-align: justify;

}

.arrow-container{
    position: absolute;
    width: fit-content;
    height: fit-content;        
    top:600px;
    left: 200px;
}

.right-arrow{
    height: 90px;
    width: 170px; 
}

.mystere-revues{
    
    width: fit-content;
    /* max-width: 672px; */
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
 
    overflow: hidden;
    /* background-color: chartreuse; */
    padding: 54px 10px 10px 10px;
    margin-left: 80px;

}

.mystere-revues-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.mystere-2-container {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 80px 10px 10px
}

    
.mystere-2-title-container {
    display: flex;
    padding: 5px;
}

.mystere-2-title {
    text-align: center;
    font-family: Karrik;
    color: #3431A9;
    font-size: 1.3rem;
    transition: Color 0.2s ease-in-out;
}

.mystere-2-title:hover {
    color: red;
}

.mystere-2-title a{
    margin-left: 30px;
}

.mystere-2-cover{
        padding: 5px;
}

.mystere-2-img {
    height: 520px;
}

.mystere-1-container{
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 10px 10px 40px;
}

.mystere-1-title-container {
    padding: 5px;
}

.mystere-1-title {
    font-family: Karrik;
    color: #3431A9;
    font-size: 1.3rem;
    transition: Color 0.2s ease-in-out;
}

.mystere-1-title:hover {
    color: red;
}

.mystere-1-title a{
    margin-left: 160px;
    
}

.mystere-1-cover{
    padding: 5px;
}

.mystere-1-img{
    height: 516px;
}
}
 